/*--------------------------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-style: normal;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

:root {
  --bg-ltgrey-color: #fafafa;
  --bg-violet-color: #1e1823;
  --bd-white-color: #ffffff;
  --bg-orange-color: #fd9222;
  --txt-black: #111111;
  --txt-orange: #fd9222;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--text-black);
  background-color: var(--bg-ltgrey-color);
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 32px;
  width: 100%;
}
.main {
  background-color: blue;
  flex: 1 1 auto;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.header {
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-style: 18px;
  line-height: 20px;
  color: var(--txt-black);
}
.logo span {
  font-style: italic;
  margin-right: 4px;
}
.logo img {
  margin-left: 4px;
}
.header__navigation {
}
.navigation {
  display: flex;
  font-weight: 500;
}
.navigation__list {
  display: flex;
  align-items: center;
}
.navigation__item:not(:last-child) {
  margin-right: 24px;
}
.navigation__item:last-child {
  margin-right: 90px;
}
.navigation__link {
  color: var(--txt-black);
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: var(--txt-orange);
}
.navigation__socials {
  display: flex;
}
.socials {
}
.socials__item:not(:last-child) {
  margin-right: 18px;
}
.socials__link {
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.footer {
  background-color: blueviolet;
  height: 298px;
}
